* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
}
.SidebarBackground {
  background-image: url("/src/background.jpg");
  background-repeat: no-repeat;
  background-size: fill;
}
/* .header {
  display: flex;
  justify-content: space-between;
} */
